.login {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.513);
}

.login__container button {
  text-transform: inherit !important;
  background-color: #0a8d47c7;
  margin-top: 50px;
  color: white;
}

.login__container button:hover {
  background-color: #0a8d47c7;
}
